.bundle
Load.log
db/*.sqlite3
log/*
!.gitignore
tmp/*
public/assets/**
public/system/**
public/cache/**
node_modules/**
dump.rdb
log/test.*
.DS_Store
public/.DS_Store
.rvmrc
coverage/*
coverage.data
Gemfile.local.rb
profiling/*
