@import url(http://fonts.googleapis.com/css?family=Handlee);
body {
	margin-top:25px;
	background-color:#8ec0e3;*/
/*	cursor: url("../img/cursor.png"), auto;*/
}
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
#logo {
	text-align:center;
	padding-top:20px;
}
#subhead {
	text-align:center;
	padding-top:5px;
}
#facebook {
	text-align:center;
	padding-top:25px;
}
footer {
	position:fixed;
	bottom:2px;
	z-index:1000;
}
footer ul {
	list-style-: none;	
	font-family: 'Handlee', cursive;
	font-size:20px;
	text-align:center;
}
footer ul li {
	display: inline;
}
#artsicle {
	padding: 0px;
}
#face {
	padding: 0px;
}
#twitter {
	padding: 0px;
	font-size:30px;
}
#posterous {
	padding: 0px;
	font-size:30px;
}
footer ul li a img {
	vertical-align:middle;
}
h1 {
	font-family: 'Handlee', cursive;
	font-size:50px;
	text-align:center;
	padding-top:50px;
	padding-bottom:10px;
}


* {
       margin: 0px;
       padding: 0px;
     }
     div#shell {
       display: block;
       position: relative;
       margin: 0px auto;
       width: 400px;
       height: 400px;
     }
     div#shell{
       z-index: 1;
     }
     img#cinderella {
       position: absolute;
       z-index: 2;
       top: -70px;
	   bottom: 0px;
       left: 300px;
     }
	img#birdie {
		position: absolute;
		z-index: 2;
		top: -80px;
		bottom: 0px;
		left: 525px;
	}
	
	
	html, body, ul.thumb, ul.thumb li {
	    padding: 0;
	    margin: 0;
	}
	html, body, ul.thumb {
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	}
	ul.thumb {
	    position: relative;
	    list-style: none;
/*	    background: -webkit-gradient(radial, 45 45, 50, 50 10, 640, from(#444), to(#333)) !important;
*/	    background: #8ec0e3;
	}
	ul.thumb li {
	    position: absolute;
	    top: 200px;
	    left: 50%;
	    padding: 6px 6px 24px 6px;
	    background: #FFF;
	    width: 150px;
	    height: 130px;
	    /* box shadow is heavy as well if we need
	       to rotate it during the animation or if
	       we have not a flat background behind
	       The alpha channel needs to work a lot
	       but it gives 3D feeling    
	    */
	    -moz-box-shadow:1px 1px 6px #222;
		-webkit-box-shadow:1px 1px 6px #222;
		box-shadow:1px 1px 6px #222;
	    /* to activate transiction FXs
	       this is all we need
	       specifying "all" means that 
	       the browser will try to resolve
	       and computate everything
	       z-index included
	    */
/*	    -webkit-transition: all 3s ease-in-out;
*/	    /* to create a better 3D feeling
	       z-index will be in a range from 0 to 10
	       this means while another pic is going
	       back to its position another rollovered one
	       will gradually reach higher z-index
	    */
	    z-index: 0;
	}
	ul.thumb li img {
	    width: 100%;
	    height: 100%;
	}
	ul.thumb li:nth-child(1) {
	    margin-top: -130px;
	    margin-left: -130px;
	    -moz-transform: rotate(30deg);
	    -webkit-transform: rotate(30deg);
	    transform: rotate(30deg);
	    -webkit-filter: blur(5px);
	}
	ul.thumb li:nth-child(2) {
	    margin-top: -120px;
	    margin-left: -10px;
	    -moz-transform: rotate(19deg);
	    -webkit-transform: rotate(19deg);
	    transform: rotate(19deg);
	    -webkit-filter: blur(4px);
	}
	ul.thumb li:nth-child(3) {
	    margin-top: -10px;
	    margin-left: -180px;
	    -moz-transform: rotate(-10deg);
	    -webkit-transform: rotate(-10deg);
	    transform: rotate(-10deg);
	    -webkit-filter: blur(3px);
	}
	ul.thumb li:nth-child(4) {
	    margin-top: -50px;
	    margin-left: -80px;
	    -moz-transform: rotate(12deg);
	    -webkit-transform: rotate(12deg);
	    transform: rotate(12deg);
	    -webkit-filter: blur(2px);
	}
	ul.thumb li:nth-child(5) {
	    margin-top: 20px;
	    margin-left: 30px;
	    -moz-transform: rotate(-20deg);
	    -webkit-transform: rotate(-20deg);
	    transform: rotate(-20deg);
	    -webkit-filter: blur(1px);
	}
	/* here is how the LI element should look
	   at the end of the transition which
	   will be activated on hover special selector
	*/
	ul.thumb li:hover{
		-webkit-transition: all 3s ease-in-out;
	    z-index: 10;
	    /* original image size */
	    width: 400px;
	    height: 300px;
	    /* put the LI in the center (almost due to bottom padding) */
	    margin-top: -151px;
	    margin-left: -240px;
	    /* the effect is a "zoom" one, the shadow will be bigger */
	    -moz-box-shadow:8px 8px 24px #111;
		  -webkit-box-shadow:8px 8px 24px #111;
		  box-shadow:8px 8px 24px #111;
	    /* and finally order via zero degrees rotation */
	    -moz-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    -webkit-filter: blur(0px);
	    transform: rotate(0deg);
	}